# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Django migrations
*/migrations/*

# Static files
/static/
*.log

# Virtual Environment
venv/
.env/

# Database
db.sqlite3

# Media files
/media/

# IDE files
.vscode/
.idea/

# Python packaging
*.egg-info/
dist/
build/

# Environment variable files
.env

# Coverage reports
.coverage
*.cover
